<% provide :title do %><%= t('pages.titles.conditions') %><% end %>

<div class="row margin-top">

  <div class="small-12 medium-9 column">

    <h1>Aviso Legal</h1>
    <h2>INFORMACIÓN GENERAL</h2>
    <p>La titularidad de la presente página web (en adelante, Sitio Web) corresponde a:</p>
    <ul>
      <li>Titular: AYUNTAMIENTO DE OVIEDO</li>
      <li>CIF: P-3304400-I</li>
      <li>Dirección: Plaza de la Constitución, 1 - 33071 OVIEDO Asturias (España)</li>
      <li>Teléfono +34 984 08 38 00</li>
      <li>Fax: +34 985 20 43 71</li>
      <li>Correo-e :ayuntamiento@oviedo.es</li>
      <li>Dominios del Sitio Web: www.consultaoviedo.es</li>
    </ul>
    <h2>CONTENIDO</h2>
    <p>El presente Sitio Web ha sido creado por el Ayuntamiento de Oviedo (en adelante, el Ayuntamiento), con la finalidad de fomentar la participación ciudadana, tanto en la gestión de la ciudad como en la generación de propuestas e ideas que permitan mejorar su calidad de vida.</p>
    <p>El acceso y utilización del Sitio Web atribuye la condición de usuario e implica la aceptación de las presentes disposiciones establecidas en este Aviso Legal. El usuario estará sujeto a lo establecido en el presente Aviso Legal mientras se encuentre conectado al Sitio Web o a cualquiera de los servicios o apartados que a través del mismo se facilitan. Por ello, será importante que el usuario revise periódicamente el presente Aviso Legal para informarse sobre las posibles modificaciones o actualizaciones que pueda sufrir.</p>
    <p>Algunos servicios o apartados del Sitio Web pueden estar sometidos a condiciones particulares que, en su caso, completan, sustituyen y/o modifican el presente Aviso Legal, debiendo ser aceptadas por el usuario antes de acceder al servicio o apartado correspondiente.</p>
    <p>El Ayuntamiento presta especial atención a que la información mostrada en este Sitio Web sea exacta y precisa, procediendo a su actualización de forma periódica y corrigiendo los errores tan pronto como estos hayan sido detectados. Por este motivo, el Ayuntamiento no puede garantizar que la información esté actualizada y la inexistencia de errores en todo momento. Por tanto, la información publicada en este Sitio Web tiene únicamente carácter informativo, no constituyendo una comunicación de actos administrativos ni comunicados oficiales, siendo estos últimos notificados por los canales oficiales legalmente establecidos a tal efecto.</p>
    <p>El Ayuntamiento se reserva el derecho de modificar el presente aviso legal, publicado la última versión vigente en este Sitio Web.</p>

    <h2>TÉRMINOS Y CONDICIONES</h2>
    <p>El acceso a este Sitio Web y a cualquiera de sus páginas supone conocer y aceptar las advertencias legales, condiciones y términos de uso que figuran a continuación:</p>
    <p>El acceso al Sitio Web, así como el uso de la información que contiene, son de la exclusiva responsabilidad del usuario. El Ayuntamiento no es responsable de ningún perjuicio que pudiera derivarse de esos hechos, ni tampoco puede garantizar que el acceso no se vea interrumpido o que el contenido o software al que pueda accederse esté libre de error o de causar daño.</p>
    <p>El Ayuntamiento se reserva el derecho a realizar los cambios que procedan sin previo aviso, al objeto de, actualizar, modificar o eliminar la información y a realizar cuantos cambios y modificaciones estime pertinentes sobre este Sitio Web.</p>
    <p>El usuario se compromete a utilizar este Sitio Web sin incurrir en actividades que puedan ser consideradas ilícitas o ilegales, que infrinjan los derechos de terceros, o que puedan dañar, inutilizar, sobrecargar o deteriorar el Sitio Web o impedir la normal utilización del mismo. En concreto y sin carácter taxativo, queda prohibido:</p>
    <p>Cualquier forma de violación de los derechos de terceros (derecho a la intimidad y a la propia imagen, derechos de propiedad intelectual e industrial, etc.).</p>
    <p>Realizar, empleando los contenidos de este Sitio Web, cualquier tipo de publicidad como envío de correos electrónicos no solicitados (spam) o comunicación similar.</p>
    <p>Introducir virus informáticos, archivos defectuosos, o cualquier otro software o programa informático que pueda provocar daños o alteraciones no autorizadas de los contenidos o sistemas accesibles a través de este Sitio Web.</p>
    <p>El usuario deberá abstenerse de obtener los contenidos de este Sitio Web utilizando para ello medios o procedimientos distintos de los que se hayan puesto a su disposición a este efecto, se hayan indicado en este Sitio Web o se empleen habitualmente en Internet y, en este último caso, siempre que no entrañen un riesgo de daño o inutilización del Sitio Web y sus contenidos.</p>

    <h2>RESPONSABILIDAD</h2>
    <p>El usuario será el único responsable de las infracciones en que pueda incurrir o de los perjuicios que se puedan causar a terceros por la indebida e ilegítima utilización de este Sitio Web y de la información contenida en el mismo.</p>
    <p>El Ayuntamiento no será responsable de los posibles daños o perjuicios que se pudieran derivar de interferencias omisiones, interrupciones, virus informáticos, incidencias en los sistemas de telecomunicaciones o desconexiones en el funcionamiento operativo de este sistema electrónico, motivadas por causas ajenas al Ayuntamiento, de retrasos o bloqueos en el uso del presente sistema electrónico causados por deficiencias o sobrecargas de sistemas de telecomunicaciones o en otros sistemas electrónicos relacionados.</p>
    <p>El Ayuntamiento no garantiza la veracidad ni se responsabiliza de las consecuencias que pudieran derivarse de los errores en los contenidos proporcionados por terceros que pudieran aparecer en este Sitio Web.</p>
    <p>Igualmente, el Ayuntamiento tampoco se responsabiliza de los contenidos, productos o servicios que puedan visualizarse mediante enlaces electrónicos (links), directa o indirectamente, a través de este Sitio Web. Estos enlaces no representan ningún tipo de relación entre el Ayuntamiento y los particulares o entidades titulares de las páginas a las que dan acceso. El Ayuntamiento se reserva el derecho a retirar de modo unilateral y en cualquier momento los enlaces que aparecen en su Sitio Web.</p>
    <p>El Ayuntamiento se exime de responsabilidad en cuanto a las “cookies” que terceros ajenos pudieran instalar en los sistemas utilizados por el usuario así como de los errores tipográficos o inexactitudes que pudieran apreciarse en los contenidos de su Sitio Web.</p>
    <p>La información que el Ayuntamiento proporcione en respuesta a cualquier consulta o petición de información solicitada por los medios establecidos a tal efecto (buzones de correo electrónico, formularios de consulta, etc.) tiene carácter meramente orientativo y en ningún caso resultará vinculante para la resolución de los procedimientos administrativos, los cuales se hallan estrictamente sujetos a las normas legales o reglamentarias que les sean de aplicación.</p>
    <p>El Ayuntamiento al objeto de garantizar la seguridad de los sistemas que soportan el Sitio Web y la integridad de la información suministrada ha implementado las medidas de carácter organizativo, técnicas y legales requeridas por la legislación aplicable en particular las establecidas por la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal (LOPD) y demás  normas que la desarrollan.</p>

    <h2>PROPIEDAD INTELECTUAL</h2>
    <p>El diseño de este Sitio Web y sus códigos fuente, los logos, marcas pertenecen al Ayuntamiento salvo expresa indicación de titularidad diferente, y están protegidos por los correspondientes derechos de propiedad intelectual e industrial. Su uso, reproducción, distribución, comunicación pública, transformación o cualquier otra actividad similar o análoga, queda totalmente prohibida salvo que medie autorización expresa del Ayuntamiento.</p>
    <p>Se autoriza a la reutilización de los documentos y/o información del Ayuntamiento contenida en este Sitio Web, siempre que dichos contenidos permanezcan íntegros y se cite la fuente de los mismos (Ley 37/2007, de 16 de noviembre, sobre reutilización de la información del sector público). Quedando prohibido su uso para incurrir en actividades ilícitas. Autorización que no se aplica a los documentos sometidos a derechos de propiedad intelectual o industrial (como las patentes, los diseños y las marcas registradas) especialmente por parte de terceros.</p>
    <p>En todo caso el régimen de reutilización está obligado a garantizar el pleno respeto de los principios que consagran la protección de datos personales, en los términos establecidos en la LOPD y su normativa de desarrollo.</p>

    <h2>INFORMACIÓN SOBRE COOKIES</h2>
    <p>Podrá consultar la información sobre las cookies utilizadas en este Sitio Web en la Política de Cookies. <a href="/politica_cookies">[Política de Cookies]</a></p>


    <h2>SOLICITUD DE SERVICIOS</h2>
    <p>Para la solicitud o registro en los servicios disponibles en este Sitio Web es necesario en algunos casos cumplimentar formularios en los que se pueden recoger datos personales, que serán necesarios para la prestación de los servicios solicitados. El tratamiento de estos datos personales se regirá por lo indicado en la Política de Privacidad aplicable a este Sitio Web y lo establecido en las Condiciones particulares del Servicio.</p>
    <p>Los datos facilitados para el acceso a los servicios han de ser verdaderos, exactos, completos y actualizados, siendo el usuario el único responsable de cualquier daño o perjuicio, directo o indirecto, que pudiera ocasionar al Ayuntamiento o a cualquier tercero a causa de la falsedad, inexactitud, insuficiencia o no actualización de los mismos.</p>
    <p>En caso de que los datos proporcionados sean inexactos o resultaran incompletos, esto podría ocasionar deficiencias en la prestación de los servicios solicitados o incluso la imposibilidad de estos sean proporcionados.</p>
    <p>Servicios disponibles en el Sitio Web:</p>
    <ul>
      <li>Participación activa de usuarios en el Sitio Web (plataforma de participación ciudadana) <a href="/conditions">[Condiciones de uso particulares]</a></li>
    </ul>


    <h2>BAJA DE LOS SERVICIOS SOLICITADOS</h2>
    <p>En las condiciones particulares de cada servicio se indicará el procedimiento a seguir para darse de baja del mismo.</p>



    <h2>APARTADOS CON ACCESO RESTRINGIDO</h2>
    <p>El acceso a ciertos apartados de este Sitio Web está protegido por código de usuario y contraseña (que deberás establecer al cumplimentar el formulario de registro), pasando éstas a ser tus credenciales de acceso a dichos sitios. Respecto a las cuales, el usuario adquiere los siguientes compromisos:</p>

    <ul>
      <li>Las credenciales de acceso son personales e intransferibles, identifican al usuario en el Sitio Web siendo responsabilidad del mismo mantenerlas en secreto. Por tanto, el usuario será responsable de todas las acciones que se realicen con sus credenciales de acceso. </li>
      <li>El usuario comunicará cualquier uso no autorizado de sus credenciales o cualquier otro incidente de seguridad tan pronto como tenga conocimiento del mismo, a través de la dirección de  correo electrónico: <a href="mailto:ayuntamiento@oviedo.es">ayuntamiento@oviedo.es</a></li>
    </ul>



    <h2>PLUGINGS O COMPLEMENTOS DE REDES SOCIALES</h2>
    <p>El Sitio Web integra los siguientes plugins o complementos de redes sociales. Respecto a los cuales deberá tener en cuenta lo siguiente:</p>
    <ul>
      <li>Si está registrado como usuario en la red social (Facebook, Twitter) y al visitar este sitio Sitio Web del tiene la sesión abierta en cualquiera de estas redes sociales, al hacer “click” en sus plugins, la red social recibirá la información que le indica y de que ha visitado el Sitio. Además proporcionará información sobre su perfil de usuario de esa red social (nombre, email, foto, etc.).</li>
      <li>Si no está registrado en la red social, o no tienen la sesión abierta mientras visita el Sitio Web puede ser que la red social reciba y almacene al menos su dirección IP.</li>
    </ul>
    <p>Si no desea que una red social recopile los datos personales aquí detallados, ni que los comparta con nosotros ni con terceros, consulte la política de privacidad de la red social correspondiente y cierre sesión en la misma antes de visitar este Sitio Web. También podrá eliminar las cookies existentes que haya instalado la red social en su ordenador usando las funciones de su navegador.</p>



    <h2>PROTECCIÓN DE DATOS</h2>
    <p>La información sobre el tratamiento de datos personales se encuentra detallada en la Política de Privacidad de este Sitio Web. <a href="/privacy">[Política de Privacidad]</a></p>



    <h2>ACCESIBILIDAD</h2>
    <p>La Declaración de Accesibilidad de este Sitio Web puede ser consultada en <a href="/accessibility">[Declaración de Accesibilidad]</a>.</p>
    <p></p>
    <p></p>



    <h2>LEY APLICABLE</h2>
    <p>La ley aplicable en caso de disputa o conflicto de interpretación de los términos que conforman este Aviso Legal, así como cualquier cuestión relacionada con los servicios del presente portal, será la ley española. Cualquier disputa, controversia o reclamación derivada de estas condiciones de uso, o el incumplimiento, rescisión o invalidación de estas, se resolverán exclusivamente ante los juzgados competentes.</p>

  </div>

  <div class="small-12 medium-3 column">
    <%= render '/shared/print' %>
  </div>
</div>
