<% provide :title do %><%= t('pages.titles.conditions') %><% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: page_url("conditions") %>
<% end %>

<div class="row margin-top">

  <div class="small-12 medium-9 column">

   <h1>Condiciones de uso particulares</h1>

   <p>El Ayuntamiento de Oviedo (en adelante, Ayuntamiento), establece las siguientes condiciones particulares de uso del Sitio Web www.consultaoviedo.es (en adelante, Sitio Web).</p>

    <h2>ACCESO AL SITIO WEB Y REGISTRO PARA PARTICIPAR</h2>
    <p>La consulta de la información publicada en este Sitio Web se realizará de forma anónima. Siendo necesario estar registrado en el Sitio Web, para participar activamente en relación a las propuestas o debates.</p>
    <p>El proceso de registro es gratuito, estableciéndose como único requisito ser mayor de 16 años e introduciendo en el formulario de alta los siguientes datos:</p>
    <ul>
      <li>Nombre de usuario</li>
      <li>Correo electrónico</li>
    </ul>

    <p>Para tramitar el proceso de alta será necesario que el usuario acepte las presentes Condiciones.</p>
    <p>El usuario podrá interactuar y participar en el Sitio Web de las siguientes formas:</p>

    <h2>ACTUACIONES DEL USUARIO EN EL SITIO WEB</h2>
    <p>El usuario podrá interactuar y participar en el Sitio Web de las siguientes formas:</p>

    <h3>Debates</h3>
    <p>En el apartado de debates el usuario podrá:</p>
    <ul>
      <li>Crear debates que serán publicados automáticamente. El usuario podrá abrir uno o más debates.</li>
      <li>Realizar comentarios en los debates creados por el resto de usuarios.</li>
      <li>Votar en los debates creados por los usuarios. Cada usuario solo podrá votar o bien positivo o bien negativo, y una vez en un mismo debate.</li>
    </ul>

    <h2>Propuestas</h2>
    <p>En el apartado de propuestas ciudadanas el usuario podrá:</p>

    <ul>
      <li>Crear propuestas que serán publicados automáticamente. El usuario podrá abrir uno o más propuestas.</li>
      <li>Realizar comentarios en las propuestas del resto de usuarios.</li>
      <li>Apoyar las propuestas creadas por los usuarios. Cada usuario solo podrá apoyar una vez a una misma propuesta.</li>
    </ul>

    <p>No se establece limitación en cuanto al número de comentarios o propuestas a presentar por los usuarios.</p>

    <h2>USO RESPONSABLE DEL SITIO WEB</h2>

    <p>El Sitio Web es un punto de encuentro cuyo objetivo es debatir, y compartir y valorar propuestas relacionadas con la mejora de la ciudad, los usuarios están obligados a hacer un uso diligente y acorde a dicho objetivo.</p>
    <p>El Ayuntamiento no será responsable del uso incorrecto que puedan realizar los usuarios del Sitio Web, ya sea por los comentarios realizados o por el contenido subido,  siendo cada usuario responsable de su uso correcto y de la legalidad de los contenidos y opiniones que haya compartido.</p>
    <p>El Ayuntamiento se reserva, por lo tanto, el derecho a limitar el acceso al Sitio Web de opiniones, informaciones, comentarios o documentos que los usuarios quieran incorporar, pudiendo instalar filtros a tal efecto. Todo ello se realizará únicamente mientras tenga el fin de preservar el objetivo fundamental del Sitio Web.</p>
    <p>Queda prohibido utilizar el Sitio Web para fines distintos a los de debatir, compartir y valorar propuestas, y específicamente:</p>

    <ul>
      <li>Publicar cualquier contenido que pueda ser considerado como una vulneración en cualquier forma del derecho fundamental al honor, imagen e intimidad personal y familiar de terceros o contra la dignidad de las personas.</li>
      <li>Publicar imágenes o fotografías que recojan imágenes o datos personales de terceros sin haber obtenido el oportuno consentimiento de sus titulares.</li>
      <li>Publicar cualquier contenido que vulnere el secreto en las comunicaciones, la infracción de derechos de propiedad industrial e intelectual o de las normas reguladoras de la protección de datos de carácter personal.</li>
      <li>Reproducir, distribuir, compartir contenidos, informaciones o imágenes que hayan sido puestas a disposición por otros usuarios sin la autorización expresa de estos.</li>
      <li>Utilización del Sitio Web con fines de publicidad.</li>
    </ul>

    <p>La realización de cualquiera de los anteriores comportamientos permitirá al Ayuntamiento suspender temporalmente la actividad de un usuario, inhabilitar su cuenta o borrar su contenido, sin perjuicio de otras responsabilidades que puedan ser reclamadas.</p>
    <p>En caso de que el contenido introducido por los usuarios incorpore un enlace a otro sitio web, el Ayuntamiento no será responsable por los daños o perjuicios derivados del acceso al enlace o a sus contenidos.</p>
    <p>En caso de litigio de cualquier clase o por cualquier motivo entre los usuarios del Sitio Web y/o un tercero, el Ayuntamiento quedará exento de cualquier responsabilidad por reclamaciones, demandas o daños de cualquier naturaleza relacionados o derivados del litigio.</p>

    <h2>INFORMACIÓN PUBLICADA O REMITIDA POR LOS USUARIOS</h2>

    <p>Las presentes Condiciones regulan los términos aplicables a la información publicada en el Sitio Web o remitida al Ayuntamiento por los usuarios. El usuario queda informado de las siguientes condiciones:</p>

    <ul>
      <li><strong>Expectativas de confidencialidad:</strong> Todo el contenido publicado por el usuario en el Sitio Web deberá ser susceptible de ser conocido por el público en general. Por lo tanto, el Ayuntamiento tratará el citado contenido como información no confidencial.</li>
      <li><strong>Información remitida al Ayuntamiento:</strong> En aquellos casos en los que un usuario haya remitido a través del Sitio Web información al Ayuntamiento, dicha información no tendrá carácter confidencial, salvo que ambas partes estimen la necesidad de intercambiar información de carácter confidencial en cuyo caso se firmará el correspondiente Acuerdo de Confidencialidad.
        <br/>
        Si el Ayuntamiento estuviese interesado en la información remitida por el usuario se podrá poner en contacto con éste para poder solicitarle información adicional. No obstante, el Ayuntamiento no adquiere ningún compromiso de ponerse en contacto con todos los usuarios que remitan información al Ayuntamiento a través de este Sitio Web.
      </li>
      <li><strong>Derechos de Propiedad Intelectual e Industrial:</strong> La información publicada en el Sitio Web por parte de los usuarios deberá ajustarse a lo establecido en el apartado “Derechos de Propiedad Intelectual e Industrial” establecido en las presentes Condiciones.</li>
      <li><strong>Publicidad o difusión de los contenidos presentados:</strong> Los usuarios de este Sitio Web declaran conocer y aceptar el hecho de que la información aportada podrá ser publicada en las páginas web del Ayuntamiento, así como a través de otros medios que la corporación local considere oportunos para dar a conocer esta iniciativa.</li>
      <li><strong>Devolución de la información o contenido:</strong> El Ayuntamiento carece de obligación alguna de devolver la información o contenidos remitidos por los usuarios.</li>
      <li><strong>Procedimiento de aviso y retirada:</strong> El Ayuntamiento procesará las peticiones de eliminación o retirada de la información publicada por los usuarios que incumplan las condiciones de uso establecidas en este Aviso Legal. Cualquier persona, con la debida motivación puede solicitar la retirada de información cuando exista un incumplimiento de las presentes condiciones de uso. El Ayuntamiento se reserva el derecho de hacer las comprobaciones o verificaciones oportunas con carácter previo a la retirada de cualquier contenido. </li>
    </ul>

    <h2>DERECHOS DE PROPIEDAD INTELECTUAL E INDUSTRIAL</h2>
    <p>El usuario que aporta la información o contenido declara, con la aceptación de las presentes Condiciones, ser titular de los derechos de propiedad intelectual y/o industrial u ostentar derechos suficientes sobre dicho contenido y que además lo remite al Ayuntamiento de forma voluntaria para su divulgación en el Sitio Web.</p>
    <p>La titularidad de todos y cada uno de la información o contenidos presentados que se encuentren protegidos o sean susceptibles de encontrarse protegidos, por el Derecho de la Propiedad Industrial e Intelectual, corresponde a los autores y/o titulares de la mencionada información o contenido.</p>
    <p></p>
    <p>El Ayuntamiento no asume responsabilidad alguna, ya sea directa o indirecta, respecto de cualquier tipo de controversia, disputa y/o litigio que pudiera derivarse de la publicación, divulgación y/o difusión de los contenidos aportados sin el preceptivo consentimiento de sus legítimos titulares.</p>
    <p>El Ayuntamiento respetará todos los Derechos de Propiedad Intelectual o Industrial sobre la información o contenido remitido por los usuarios. Cualquier vulneración de los Derechos de Propiedad Intelectual o Industrial será responsabilidad de la persona que aporte la información o contenido.
    El Ayuntamiento, por la mera recepción del contenido, no recibe del usuario licencia alguna de propiedad intelectual o industrial, por lo que no hará uso del contenido salvo aceptación expresa de su titular.</p>


    <h2>PROTECCIÓN DE DATOS</h2>
    <p>De conformidad con lo dispuesto en el artículo 5 de la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal (LOPD), se informa que los datos personales aportados por los usuarios que se registren en el Sitio Web serán incorporados en el fichero SERVICIOS TELEMÁTICOS registrado bajo la titularidad el Ayuntamiento de Oviedo, con la finalidad de tramitar y gestionar su alta en la plataforma de participación ciudadana.</p>
    <p>Al participar en la plataforma, se le informa que siempre que realice algún tipo de comentario aparecerá el nombre de usuario con el que se haya registrado.</p>
    <p>Se podrán ejercitar los derechos de acceso, rectificación, cancelación y oposición en los términos previstos en la precitada Ley, mediante comunicación escrita dirigida al responsable del fichero: Asesoría Jurídica - Ayuntamiento de Oviedo - Plaza de la Constitución, 1 - 33071 OVIEDO (Asturias).</p>
    <p>Al registrarse en el Sitio Web, el usuario acepta el tratamiento de sus datos en los términos y condiciones anteriormente indicados.</p>


    <h2>LEY APLICABLE</h2>
    <p>La ley aplicable en caso de disputa o conflicto de interpretación de los términos que conforman estas Condiciones de uso, así como cualquier cuestión relacionada con los servicios del presente portal, será la ley española. Cualquier disputa, controversia o reclamación derivada de estas condiciones de uso, o el incumplimiento, rescisión o invalidación de estas, se resolverán exclusivamente ante los juzgados competentes. </p>


    <h2>REVISIÓN DE LAS CONDICIONES DE USO</h2>
    <p>El Ayuntamiento se reserva el derecho de revisar las presentes Condiciones en cualquier momento y por cualquier razón. En dicho caso, los usuarios registrados serán informados, y si continúan utilizando el Sitio Web, se entenderán aceptadas las modificaciones introducidas.</p>

  </div>

  <div class="small-12 medium-3 column">
    <%= render '/shared/print' %>
  </div>
</div>
