<% provide :title do %><%= t('pages.titles.conoce_el_proceso') %><% end %>

<div class="row margin-top">

  <div class="small-12 medium-9 column">

    <h1>PRESUPUESTOS PARTICIPATIVOS EN OVIEDO<h1>
    <p>Los Presupuestos Participativos son una herramienta que permite que vecinos y vecinas decidan de manera directa en qué emplear una parte del presupuesto de su Ayuntamiento.</p>
    <p>La ciudadanía propone proyectos que son priorizados en una fase de apoyo ciudadano, después son evaluados por el personal técnico del Ayuntamiento y, finalmente, llegan a una fase de votación final. Las propuestas más votadas pasan a formar parte del proyecto inicial del Presupuesto General del año siguiente.</p>
    <p>El <strong>Ayuntamiento de Oviedo puso en marcha el primer proceso de Presupuestos Participativos del Concejo en 2017, y una segunda edición en 2018</strong>. En ambas ocasiones se reservaron <strong>un millón y medio de euros</strong> del presupuesto del ejercicio siguiente a las propuestas que resultaran ganadoras en el proceso participativo. </p>

    <h2>¿QUIÉN PUEDE PARTICIPAR EN EL PROCESO Y CÓMO?</h2>
    <p>En las dos ediciones de Presupuestos Participativos realizadas pudo participar <strong>cualquier persona empadronada en Oviedo mayor de 16 años</strong>, tanto formulando propuestas como apoyando y votando las propuestas presentadas. Al formular la propuesta se podía indicar si se hacía en nombre de un colectivo.  Asimismo se habilitó la posibilidad de que los Consejos de Distrito pudieran presentar  propuestas en este proceso a través de un representante.</p>
    <p>Además, <strong>el Grupo de Trabajo Ciudadano y de Distritos</strong> es un órgano de participación de los Presupuestos Participativos, abierto a la participación de vecinos y vecinas de Oviedo así como a los Consejos de Distrito interesados en formar parte. Este Grupo de Trabajo colaboró con el personal del Área de Participación en el acercamiento de la información  a la ciudadanía, así como en el desarrollo y seguimiento del proceso.</p>

    <h2>¿QUÉ TIPO DE PROPUESTAS TIENEN CABIDA?</h2>
    <p>Las propuestas pueden ser de inversión o de gasto corriente en bienes y servicios no reiterativos. Asimismo deben reunir unos requisitos:</p>
    <ul>
      <li>Ser competencia del Ayuntamiento. </li>
      <li>Ser legal. </li>
      <li>Ser viable técnicamente. </li>
      <li>Que su coste no supere el importe máximo establecido para los Presupuestos Participativos, 1 millón y medio de euros.</li>
      <li>Que no estén ya previstos o incluidos en la planificación o presupuesto de los diferentes servicios municipales. </li>
      <li>Que el contenido responda al interés general (del municipio, de un distrito, de un barrio, un grupo de vecinos/as, un colectivo) no a un interés únicamente particular. </li>
      <li>La persona proponente debe identificarse y reunir los requisitos de participación. </li>
      <li>No utilizar un lenguaje insultante ni tener fines delictivos. No atentar contra la legislación vigente en materia de derechos fundamentales y libertades públicas, ni incluir contenidos de carácter discriminatorio, de apología del terrorismo o que atenten contra los derechos humanos o la dignidad de las personas</li>
    </ul>

    <h2>¿CÓMO SE DESARROLLÓ EL PROCESO?</h2>
    <p>Se llevó a cabo fundamentalmente a través de la plataforma de participación www.consultaoviedo.es, si bien también se habilitó un sistema de participación presencial para aquell@s vecin@s con dificultades de acceso a las nuevas tecnologías o que requirieran un apoyo directo, mediante la habilitación de puntos de información y participación en distintos barrios del concejo en las fases de recogida de propuestas, apoyos y votación. </p>
    <p>Tal como establecen las bases reguladoras, y con el fin de unificar la información, las propuestas y apoyos recogidos de forma presencial, fueron posteriormente incorporados a la web por personal del Área de Participación. En cuanto a la votación final, en los puntos presenciales de votación, dotados con ordenadores y conexión a internet, el personal del área de participación prestó apoyo la votación online a las personas que así lo requirieron. </p>
    <p>El proceso se desarrolló mediante las siguientes FASES:</p>
    <ol>
      <li><strong>Fase de Información, debate y presentación de propuestas:</strong> los/as vecinos/as pudieron presentar sus propuestas de forme presencial o a través de la web. Una vez finalizada esta fase se llevó a cabo una primera evaluación de la viabilidad de las propuestas dentro del proceso,  quedando excluidas las que no cumplieran los requisitos establecidos. Asimismo, con autorización de las personas proponentes, se unificaron aquellas propuestas con un mismo contenido con el fin de que pudieran aglutinar apoyos. </li>
      <li><strong>Fase de apoyos a las propuestas:</strong> Se  abrió un periodo en el que la ciudadanía podía formular sus apoyos a todas aquellas propuestas que considerara de interés de las que pasaron a esta fase, a través de la web o de forma presencial a través de hojas de apoyos. </li>
      <li>
        <p><strong>Fase de Evaluación técnica de las propuestas priorizadas:</strong> Conforme al o previsto en las Base, la Comisión Técnica de Valoración decidió el criterio de corte aplicable para determinar el número de propuestas que pasarían a ser evaluadas técnica y económicamente.</p>
        <p>Los/as técnicos/as municipales evaluaron la viabilidad técnica de dichas propuestas y se asignó un coste estimado a las que se determinaron viables. Asimismo algunas propuestas fueron reformuladas respetando su objetivo esencial con el fin de que resultaran técnica y económicamente viables. </p>
      </li>
      <li><strong>Fase de alegaciones:</strong> Una vez publicado el listado de las propuestas evaluadas con su calificación de viabilidad y no viabilidad, el coste estimado y los motivos reflejados en los informes técnicos,   se abrió un periodo para que las personas autoras de las propuestas pudieran presentar alegaciones si así lo consideraran conveniente. La resolución de las alegaciones se notificó a las personas interesadas y se modificó en lo necesario el listado de propuestas viables/inviables. </li>
      <li><strong>Fase de votación:</strong> La ciudadanía podía votar en esta fase una o varias propuestas de las seleccionadas para la votación final, hasta llegar al límite del presupuesto establecido. Establecen las Bases que las propuestas ganadoras se incorporarán al proyecto inicial del Presupuesto General del Ayuntamiento de Oviedo para su aprobación por la Junta de Gobierno Local y posterior tramitación. </li>
    </ol>

    <p>Para más información sobre las dos ediciones de presupuestos Participativos desarrolladas por el Ayuntamiento de Oviedo, puedes acceder a través de este enlace <a href="#">Ediciones anteriores</a></p>

    <h2>¿CÓMO VA LA EJECUCIÓN DE LAS PROPUESTAS GANADORAS?</h2>
    <p>A través del siguiente  enlace <a href="#">Estado de las propuestas</a>, se puede acceder a un gráfico que sintetiza el porcentaje de ejecución de las propuestas. Esta información se actualiza de forma periódica.</p>
    <p>Asimismo en la web del Área de participación  <a href="http://www.oviedoparticipa.es/">http://www.oviedoparticipa.es/</a>  y en sus redes sociales (Facebook, twitter) se irá colgando información más concreta sobre los avances de las distintas propuestas.</p>

  <div class="small-12 medium-3 column">
    <%= render '/shared/print' %>
  </div>
</div>
