<% provide :title do %><%= t('pages.titles.conditions') %><% end %>

<div class="row margin-top">

  <div class="small-12 medium-9 column">

    <h1>Política de cookies</h1>
    <h2> INFORMACIÓN SOBRE COOKIES</h2>
    <p>Conforme a lo establecido por la Secretaría de Estado de Telecomunicaciones y para la Sociedad de la Información, dependiente del Ministerio de Industria, Energía y Turismo, con carácter general la LSSI no se aplica en el ámbito de las Administraciones Públicas, puesto que éstas no tienen el carácter de prestadores de servicios de la sociedad de la información definido en su anexo. Únicamente les será aplicable la LSSI si la actividad de la Administración tuviese un carácter económico.</p>
    <p>No obstante lo anterior, se ofrece información relativa a la instalación de cookies en los sistemas del usuario.</p>

    <h2>¿QUÉ SON LAS COOKIES Y PARA QUÉ SE UTILIZAN?</h2>
    <p>Las cookies son pequeños ficheros de texto que los sitios web pueden colocar en los dispositivos utilizados para acceder a Sitios Web (PC, Smartphone, tableta, etc.) que se utiliza para acceder al sitio web. Este fichero contiene información sobre las páginas que se han visitado en dicho sitio, lo que permite recordar las preferencias de navegación, así como la gestión del carrito de compra (en caso de que éste exista). Esto permite que la próxima vez que visitemos el sitio web, la navegación sea más ágil, recurriendo a la información contenida en dicho fichero. Del mismo modo, esta información permite realizar patrones de uso con las preferencias de los usuarios. Los sitios webs, además de utilizar las cookies para almacenar este tipo de contenido, utilizan el espacio de almacenamiento local que facilitan los navegadores para almacenar esta información.</p>

    <h2>TIPOS DE COOKIES UTILIZADAS EN EL SITIO WEB</h2>
    <p>Las Cookies, en función de su permanencia, pueden clasificarse en Cookies de sesión y permanentes. En el caso de las primeras, su vigencia expira cuando el usuario cierra el navegador, mientras que la vigencia de las Cookies permanentes puede ser variable, una vez que han cumplido el objetivo que motivó su instalación o cuando el usuario procede a su borrado manual.</p>
    <p>Atendiendo a su gestor, las Cookies pueden ser propias, en este caso del Ayuntamiento, o de terceros, en general entidades que tratan los datos obtenidos a través de las cookies.</p>
    <p>Atendiendo a su finalidad, se puede distinguir entre:</p>
    <ul>
    <li>COOKIES TÉCNICAS: permiten al usuario la navegación a través una página web o aplicación, y la utilización de las diferentes opciones o servicios que existan en ella. Se incluyen en este grupo, por ejemplo la identificación de sesión, o compartir contenidos a través de redes sociales.</li>
    <li>COOKIES DE PERSONALIZACIÓN: permiten al usuario acceder al servicio con determinadas características de carácter general predefinidas en función de una serie de criterios en el equipo de usuario, como por ejemplo el idioma o la ubicación geográfica.</li>
    <li>COOKIES DE ANÁLISIS: permiten al responsable de las mismas el seguimiento y análisis del comportamiento de los usuarios de los sitios web a los que están vinculadas, a fin de introducir mejoras en función del análisis de los datos de uso que hacen los usuarios del servicio.</li>
    <li>COOKIES PUBLICITARIAS: permiten la gestión de los espacios publicitarios que el titular de la página o aplicación haya incluido para mostrar anuncios en ellos.</li>
    <li>COOKIES DE PUBLICIDAD COMPORTAMENTAL: permiten la gestión de los espacios publicitarios, a través del almacenamiento de información del comportamiento de los usuarios obtenida a través de la observación continuada de sus hábitos de navegación.</li>
    </ul>

    <h2>COOKIES UTILIZADAS EN EL SITIO WEB</h2>
    <p>La relación de cookies utilizadas en este Sitio Web son las indicadas en la siguiente tabla:</p>
    <h3>COOKIES DEL SITIO WEB</h3>
    <table>
      <tr>
        <th>_consul_session</th>
        <th>de sesión</th>
        <th>Identificar al usuario validado en la página</th>
      </tr>
      <tr>
        <th>ahoy_visit</th>
        <th>4 horas</th>
        <th>Almacenar información de la actividad del usuario en la página</th>
      </tr>
      <tr>
        <th>ahoy_visitor</th>
        <th>2 años</th>
        <th>Almacenar información de la actividad del usuario en la página</th>
      </tr>
    </table>

    <h2>DESACTIVACIÓN DE COOKIES</h2>
    <p>El uso de las cookies se puede desactivar, modificando la configuración del navegador. Como norma general, esta acción suele encontrarse en el menú de “Herramientas” o “Preferencias”. Así, es posible dejar de aceptar las Cookies del navegador, o dejar de aceptar las Cookies de un servicio concreto.</p>
    <p>A través de la ayuda de su navegador, el usuario puede informarse acerca de las diferentes opciones para la gestión de las Cookies:</p>
    <ul>
    <li>GOOGLE CHROME: http://support.google.com/chrome/bin/answer.py?hl=es&answer=95647</li>
    <li>INTERNET EXPLORER: http://windows.microsoft.com/es-es/windows7/how-to-manage-cookies-in-internet-explorer-9</li>
    <li>MOZILLA FIREFOX: http://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-que-los-sitios-we</li>
    <li>APPLE SAFARI: https://support.apple.com/kb/PH19214?locale=es_ES</li>
    </ul>
    <p>El usuario debe conocer que la desactivación de las cookies puede dificultar o impedir el acceso a determinados apartados del Sitio Web del Ayuntamiento de Oviedo, o bien puede degradarse su experiencia de navegación.</p>

  </div>

  <div class="small-12 medium-3 column">
    <%= render '/shared/print' %>
  </div>
</div>
