<% provide :title do %><%= t('pages.titles.privacy') %><% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: page_url("privacy") %>
<% end %>

<div class="row margin-top">

  <div class="small-12 medium-9 column">
    <h1>Política de Privacidad</h1>
    <ul>
      <li><a href="#personal_data">Datos personales recopilados</a></li>
      <li><a href="#limit_procces">Limitaciones en el tratamiento</a></li>
      <li><a href="#information">Información en la recogida de datos</a></li>
      <li><a href="#security">Medidas de seguridad</a></li>
      <li><a href="#derechos">Derechos</a></li>
      <li><a href="#data_protected">Delegado de Protección de Datos</a></li>
    </ul>
    <p>El tratamiento de datos personales realizado a través de este sitio web del Ayuntamiento de Oviedo (en adelante, Ayuntamiento) se regula según lo establecido en el Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo, de 27 de abril de 2016, relativo a la protección de las personas físicas en lo que respecta al tratamiento de datos personales y a la libre circulación de estos datos personales, así como según lo establecido en la Ley Orgánica 3/2018, de 5 de diciembre, de Protección de Datos Personales y Garantía de Derechos Digitales y demás normativa de aplicación, al objeto de garantizar en todo momento el derecho fundamental a la protección de datos de las personas usuarias del mismo.</p>

    <h2><a id="personal_data"></a>Datos personales recopilados</h2>
    <p>El Ayuntamiento recopila datos de carácter personal para poder acceder y prestarle algunos de los servicios prestados a través de este sitio web. Algunos de estos datos son facilitados directamente, por ejemplo, cuando cumplimenta un formulario de solicitud y otros son obtenidos indirectamente como es el caso de las cookies.</p>
    <p><strong>+ Información</strong></p>
    <p>Los medios utilizados por el Ayuntamiento para la recogida y posterior tratamiento de datos personales son:</p>
    <ul>
      <li>Formularios: A través de formularios tanto digitales como en formato electrónico, el Ayuntamiento recopila datos de carácter personal para acceder y prestarle los distintos servicios prestados desde este sitio web.</li>
      <li>Correos electrónicos: Las direcciones de correo electrónico facilitados en este sitio web serán considerados como posibles medios para la recogida de datos personales.</li>
      <li>Cookies: El Ayuntamiento puede utilizar cookies (pequeños archivos de información que el servidor envía al dispositivo desde el cual se accede al sitio web municipal) para llevar a cabo determinadas funciones que son consideradas imprescindibles para el correcto funcionamiento y visualización de este sitio web. Para más información, ver: Política de Cookies.</li>
    </ul>

    <h2><a id="limit_procces"></a>Limitaciones en el tratamiento</h2>
    <p>El Ayuntamiento no autoriza a los menores de 16 años a facilitar sus datos personales a través de los medios habilitados en este sitio web (cumplimentación de los formularios web habilitados para la solicitud de servicios, de contacto o mediante el envío de correos electrónicos). Por tanto, las personas que faciliten datos personales utilizando dichos medios manifiestan formalmente ser mayores de 16 años quedando el Ayuntamiento eximido de cualquier responsabilidad por el incumplimiento de este requisito.</p>
    <p><strong>+ Información</strong></p>
    <p>En aquellos casos en los que los servicios ofrecidos por el Ayuntamiento estén destinados a menores de 16 años se habilitaran los medios para recabar la autorización de los padres o tutores legales del/la menor.</p>
    
    <h2><a id="information"></a>Información en la recogida de datos</h2>
    <p>Siempre que se proceda a la recogida de datos a través de un formulario (online o en formato descargable) u otros canales de comunicación establecidos en el sitio web, se informará a la persona afectada según lo establecido en la vigente normativa de protección de datos.</p>
    <p><strong>+ Información</strong></p>
    <p>La información a las personas afectadas será facilitada según el medio utilizado:</p>
      <ul>
        <li>Formularios (online y formato descargable): la información estará incluida en el propio formulario.</li>
        <li>Correos electrónicos: la información estará indicada en el espacio web donde se hace referencia a la dirección de correo electrónico.</li>
        <li>Cookies: la información está disponible en la Política de Cookies.</li>
      </ul>
    <p>La persona usuaria se responsabiliza de la veracidad y exactitud de los datos personales facilitados. En el supuesto de producirse alguna modificación en los datos de la persona usuaria, los cambios deberán ser comunicados al Ayuntamiento con el fin de mantenerlos actualizados.</p>
    
    <h2><a id="security"></a>Medidas de seguridad</h2>
    <p>El Ayuntamiento adopta las medidas de seguridad adecuadas de acuerdo con lo previsto en el Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo, de 27 de abril de 2016, relativo a la protección de las personas físicas en lo que respecta al tratamiento de datos personales y a la libre circulación de estos datos y en la Disposición adicional primera de la Ley Orgánica 3/2018, de 5 de diciembre, de Protección de Datos Personales y Garantía de Derechos Digitales, con el fin de garantizar el derecho fundamental a la protección de datos de las personas usuarias de este sitio web.</p>
    <p><strong>+ Información</strong></p>
    <p>El Ayuntamiento aplica las medidas técnicas y organizativas apropiadas para garantizar un nivel de seguridad adecuado al riesgo al cual están expuestos los datos personales tratados en este sitio web.</p>
    
    <h2><a id="derechos"></a>Derechos</h2>
    <p>Las personas afectadas tienen derecho a acceder, rectificar y suprimir sus datos, así como otros derechos en la vigente normativa, cuando procedan, ante la Asesoría Jurídica del Ayuntamiento de Oviedo – Plaza de la Constitución, 1 – 33071 OVIEDO (Asturias), indicando en el asunto: Ref. Protección de Datos o a través de la Sede Electrónica: sede.oviedo.es.</p>
    <strong>+ Información</strong>
    <p>Los derechos de las personas interesadas son:</p>
      <ul>
        <li>Obtener confirmación sobre si el Ayuntamiento está tratando sus datos personales.</li>
        <li>Acceder a sus datos personales, así como a solicitar la rectificación de los datos inexactos o, en su caso solicitar la supresión cuando, entre otros motivos, los datos ya no sean necesidades para las cuales fueron recabados.</li>
        <li>Solicitar en determinadas circunstancias: </li>
          <ul>
            <li>La limitación del tratamiento de sus datos, en cuyo caso sólo serán conservados por el Ayuntamiento para el ejercicio o la defensa de reclamaciones.</li>
            <li>La oposición al tratamiento de sus datos, en cuyo caso, el Ayuntamiento dejará de tratar los datos, salvo por motivos legítimos imperiosos, o el ejercicio o la defensa de posibles reclamaciones. Incluido el tratamiento de sus datos para decisiones individuales automatizadas.</li>
            <li>La portabilidad de los datos para que sean facilitados a la persona afectada o transmitidos a otro responsable, en un formato estructurado, de uso común y lectura mecánica.</li>
          </ul>
      </ul>
    <p>Si en el ejercicio de sus derechos no ha sido debidamente atendido podrá presentar una reclamación ante la Agencia Española de Protección de Datos – Dirección: C/Jorge Juan, 6 - 28001 MADRID (Madrid) – Sede electrónica: sedeagpd.gob.es.</p>
    
    <h2><a id="data_protected"></a>Delegado de Protección de Datos</h2>
    <p>Puede ponerse en contacto con el Delegado de Protección de Datos del Ayuntamiento de Oviedo a través del correo-e: <a href="mailto:dpd@oviedo.es">dpd@oviedo.es</a>dpd@oviedo.es</p>
  </div>

  <div class="small-12 medium-3 column">
    <%= render '/shared/print' %>
  </div>

</div>

