<div id="header-img">
  <div class="row title-top-header">
    <div class="col-12">
      <h1>Construye tu concejo con nosotr@s</h1>
    </div>
  </div>
</div>

<div class="row margin-top">

<div class="small-12 medium-12 column m-50">
  <div class="row mt-50">
    <div class="small-12 medium-6 column">
      <h3>Presupuestos Participativos en Oviedo</h3>
      <p>
        Los Presupuestos Participativos son una herramienta que permite que vecinos y vecinas decidan de manera directa en qué emplear una parte del presupuesto de su Ayuntamiento.
        <br><br>
        La ciudadanía propone proyectos que son priorizados en una fase de apoyo ciudadano, después son evaluados por el personal técnico del Ayuntamiento y, finalmente, llegan a una fase de votación final. Las propuestas más votadas por la ciudadanía pasan a formar parte del proyecto inicial del Presupuesto General del año siguiente.
        <br><br>
        El Ayuntamiento de Oviedo puso en marcha el primer proceso de Presupuestos Participativos del Concejo en 2017, y una segunda edición en 2018. En ambas ocasiones se reservaron un millón y medio de euros del presupuesto del ejercicio siguiente a las propuestas que resultaran ganadoras en el proceso participativo.
      </p>
    </div>
    <div class="small-12 medium-6 column">
      <%= image_tag("header_1.jpg") %>
    </div>
  </div>
</div>
      
<div class="call-action">
  <div class="row"> 
    <div class="small-12 medium-12 large-4 column">
      <a href="/conoce_el_proceso " class="call-action-block bg-image">
          <%= image_tag("banner_1.jpg") %>
          <h3 class="col-8">Conoce el proceso</h3>
      </a>
    </div>
    <div class="small-12 medium-12 large-4 column">
      <a href="/edicionespasadas " target="_blank" class="call-action-block bg-image">
          <%= image_tag("banner_2.jpg") %>
          <h3 class="col-8">Ediciones pasadas</h3>
      </a>
    </div>
    <div class="small-12 medium-12 large-4 column">
      <a href="/estado-proyectos-2018" class="call-action-block bg-image">
          <%= image_tag("banner_3.jpg") %>
          <h3 class="col-8">Estado proyectos</h3>
      </a>
    </div>
  </div>
</div>

<div class="small-12 medium-12 column m-50">
  <div class="row">
    <div class="small-12 medium-12 column text-center">
      <h3>¡Construye tu concejo con nosotr@s!</h3>
      <p>
        Oviedo ya es una ciudad participativa. Sus habitantes debaten sobre los temas de interés; sus ideas se convierten en propuestas para la mejora de la calidad de vida en su ciudad; sus propuestas son, al final, parte de las decisiones de gobierno.
      </p>
    </div>
  </div>
</div>